<header>
  <div>
    
    <p> <%- pagina %></p>

    <h3>EJS</h3>

    <nav>
      <a href="/">Home</a>
      <a href="/sobre">About</a>
      <a href="/contatos">Contatos</a>
    </nav>

  </div>
</header>
