<header>
  <div>
    <p><%= typeof pagina != 'undefined' ? pagina: 'HOME' %></p>

    <nav>
      <ul>
        <li>
          <h3>EJS</h3>
        </li>

        <li>
          <a href="/">Home</a>
        </li>

        <li>
          <a href="/sobre">About</a>
        </li>
        
        <li>
          <a href="/contatos">Contatos</a>
        </li>

      </ul>
    </nav>
  </div>
</header>
