<!DOCTYPE html>

<%- include('head'); %>

<body class="container">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    
  <%- include('navbar'); %>

  <main class="container">
    <div>
      <h1>Sobre mim</h1>
      <p>Oi sou o Márcio R. Medeiros Desenvolvedor</p>
    </div>
  </main>

  </div>
</body>

<%- include('footer'); %>

</html>