<!DOCTYPE html>
<html lang="en">

<%- include('head'); %>

<hr>

<body class="">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    
<%- include('navbar');%>

  <main class="">
    
    
      <h1 class="--bs-green">Node com EJS</h1>
      <p class="alert-danger">Vamos aprender a trabalhar com arquivos EJS</p>
      
      
      
      
      
  
</main>

  <%- include('footer'); %>

</body>
</html>