
    <header class="masthead">
      <div class="inner">
       
        <h3 class="masthead-brand">EJS</h3>
       
        <nav class="navbar nav-masthead ">
          
          <a class="nav-link active" href="/">Home</a>
          <a class="nav-link " href="/sobre">About</a>
          <a class="nav-link" href="#">Contatos</a>
        
        </nav>
    
      </div>

    </header>