<%- include('../partials/head'); %>

<%- include('../partials/navbar', {pagina: 'SOBRE'}); %>

<body>
  <main>
    <div>
      <h1>Sobre mim</h1>
      <p>Oi meu nome é Márcio R. Medeiros trabalho como  Desenvolvedor de páginas e aplicativos</p>
    </div>
  </main>
  
  <%- include('../partials/footer'); %>
</body>


