<%- include('../partials/head.ejs'); %>

<%- include('../partials/navbar', {pagina: 'CONTATOS'});%>

<body>  
  <main>
    <div>
     <h1>Contatos</h1>
     <p>Entre em contato comigo, e faça um orçamento</p>
    </div>
    </main>

  <%- include('../partials/footer'); %>
</body>
